{% extends 'polls/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    {% if user.is_authenticated %}
    <h1 style="color:white">Change Password</h1>
    <form style="color:white" action="/accounts/change_password/" method="post">
        <label for="username">Enter New Password: </label>
        <input id="p1" type="text" name="p1">
        <br>

        <label for="username">Confirm New Password: </label>
        <input id="p2" type="text" name="p2" >
        <br>
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Save">
        {% if p1 == p2 %}
            <p style="color:white"><strong> Passwords do not match</strong></p>
        {% endif %}
        {% if error_message %}
            <p style="color:white"><strong>{{ error_message }}</strong></p>
        {% endif %}
    </form>
    {% endif %}
</div>
{% endblock %}