{% extends 'polls/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div id="main" style="color:white; " class="container">
{% if request.user.is_authenticated %}

    <div id="searchbar" style="float:center;background-color:rgb(134, 134, 134); width:50%; margin-left:25%;">
        <form name="search-bar" method="post">
            <input style="background-color:#26282c; color:rgb(221, 221, 221);float:center; font-size:18px; margin-left:2%; margin-top:2%; width:96%;" type="text" id="search-term" name="search-term" value="Enter Search Term">

            <br>
            {% csrf_token %}
            {{form|crispy}}
            <input style=" text-align:left;background-color:#7289DA; color:white; margin-left:43%; font-size:24px; margin-bottom:0.5%; width:14%;" name = "submit" type="submit" value="Search">
            
        </form>
    </div>


        <div style="padding-top:2%;"></div>
    {% for post in results%}

    <div style=" width:50%; margin-left:25%; background-color:rgb(134, 134, 134)" onclick ='location.href=location.origin+"/post/{{post.id}}/"'>
        <div style="padding-top:1%; padding-bottom: 1%;">
            <a style="color:#26282c; margin-left:4%; font-size:14px;">{{post.time_published}}</a>
        <div style="text-align:left; padding-left:2%;   margin-left:2.5%; width:95%;font-size: 24px; background-color:#26282c; color:rgb(221, 221, 221);">
            <a style = "font-size:24px;" : 24px;>{{post.title}}</a>
            <a style = "font-size:14px; color :rgb(196, 196, 196) " onclick="location.href=location.origin+'/user/{{post.author.id}}/'"> - {{post.author.display_name}}</a>
            
        </div>
    </div>        
    


        <div style="padding-top:1%; padding-bottom: 1%;">
        <div style="text-align:left; padding-left:2%;  margin-left:2.5%; width:95%;font-size: 24px; background-color:#26282c; color:rgb(221, 221, 221);">
            <a style="font-size: 18px;;">{{post.content}}</a>
        </div>
    </div>   

    </div>
    <div style="padding-top:2%"></div>
    

    
    
    {% endfor %}
    
{% else %}
    <h1 style="color:white;">Please log in!</h1>
{% endif %}

        </div>
{% endblock %}
